@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Work+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu&family=Work+Sans:wght@400;600;700&display=swap');

/*------------------------------
        universal styles 
-------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------------------
         common styles 
--------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.orange-btn {
    color: #fff;
    border: none;
    border-radius: 7px;
    width: 200px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 60px;
    cursor: pointer;
    background-color: #FF900E;
    background-image: linear-gradient(to right, transparent 50%, #ffffff 50%);
    background-size: 200%;
    background-position: 0;
    transition: 0.8s;
}

.large-orange-btn:hover,
.orange-btn:hover {
    background-position: 100%;
    color: #FF900E;
    border: 2px solid #FF900E;
}

/*--------------------------------------
       header and navigation style  
----------------------------------------*/

header {
    width: 100%;
    background-color: #FFF4E7;
}
.nav-title h2{
    cursor: pointer;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
nav {
    width: 85%;
    margin: 0 auto;
    padding: 40px;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    margin: 0 5px;
    list-style: none;
    font-size: 18px;
}
nav ul li a {
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 25px;
    color: #424242;
    transition: 0.5s;
}
nav ul li:hover a{
    cursor: pointer;
    background: black;
    color: #ffffff;
}


/*-------------------------------
        section-one style 
--------------------------------*/

.section-one {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    padding-bottom: 40px;
}
.banner {
    width: 85%;
    margin: 0 auto;
}
.banner-writing {
    width: 852px;
    margin: 0 auto;
    text-align: center;
}
.banner-writing .banner-title {
    font-size: 64px;
    padding: 50px 0 25px;
}
.banner-writing .banner-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
    color: #727272;
}
.banner-image img{
    width: 100%;
}

/*-------------------------------
        section-two style 
--------------------------------*/

.section-two {
    width: 76%;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
}
.opportunity-images {
    width: 52%;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}
.opportunity img {
    width: 280px;
    height: 280px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.3), -10px -10px 7px rgb(255, 255, 255);
    transition: 0.6s;
}
.opportunity img:hover {
    transform: translateY(3px);
        box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4), -20px -20px 12px rgb(255, 255, 255);
}
.opportunity-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}
.opportunity-title h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
}
.opportunity-title .ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #727272;
}
.opportunity-title .orange {
    color: #FF900E;
}
.opportunity-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        margin: 20px 0 30px;
}


/*--------------------------------
        section-three style 
---------------------------------*/

.section-three {
    position: relative;
    margin-top: 70px;
}
.section-three .container {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
}
.features-title h1 {
    border-left: 4px solid #FF900E;;
    font-weight: 700;
    font-size: 45px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.features-about p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}
.feature-box {
    margin: 20px 0;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 14px 0.1px rgba(0, 0, 0, 0.07);
}
.feature-sub-title h3 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}
.feature-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.features-image img {
    width: 650px;
    height: 900px;
}
.large-orange-btn {
    position: absolute;
    bottom: 45px;
    right: 560px;
    background-color: #FF900E;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-image: linear-gradient(to right, transparent 50%, #ffffff 50%);
    background-size: 200%;
    background-position: 0;
    transition: 1s;
    padding: 35px;
}
.large-orange-btn h3 {
    font-weight: 700;
    font-size: 45px;
}
.large-orange-btn span {
    font-weight: 500;
    font-size: 25px;
}

/*--------------------------------
        section-four style 
---------------------------------*/

.section-four {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.facts-details {
    margin: 30px 0 60px;
    width: 550px;
}
.facts-title h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 25px;
}
.facts-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.facts-info {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 74px;
    padding: 0 40px;
}
.facts-box {
    width: 240px;
    height: 240px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 40px 60px;
    box-shadow: 5px 5px 10px #fbd1a2;
    transition: 0.5s;
}
.facts-box:hover {
    box-shadow: inset 5px 5px 10px #fbd1a2;
        transform: translateY(3px);
}

.facts-box .fact-number p{
    padding: 10px 0;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.facts-box .fact-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/*--------------------------------
        section-five style 
---------------------------------*/

.section-five {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 108px;
}
.sponsor-details {
    text-align: center;
    margin: 30px 0 60px;
    width: 550px;
}
.sponsor-title h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 25px;
}
.sponsor-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 100px;
}
.sponsored-by {
    width: 165.83px;
    height: 50px;
}
.sponsored-by img {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
}

/*----------------------
      footer style
-----------------------*/

footer {
    width: 85%;
    margin: 0 auto;
    background: #FFF4E7;
    border-radius: 7px;
    padding: 60px;
    margin-bottom: 60px;
}
.footer-details {
    text-align: center;
    margin-bottom: 50px;
}
.footer-title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.footer-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 40%;
}
.links-title {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 30px;
}
.popular-links li, .quick-links li {
    list-style: none;
    padding: 15px 0;
    cursor: pointer;
    color: #727272;
}
.footer-input-field {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 50px) 130px 50px;
    grid-row-gap: 10px;
    margin-bottom: 70px;
}
.footer-input-field input, textarea {
    padding: 10px;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
}
.footer-input-field input[type = button] {
    background-color: #fff;
    font-size: 17px;
    font-weight: 500;
    color: #393939;
}

hr {
    border-top: 1px solid #ffe0c4;
}

/*-------------------------------------
        copyright section style  
---------------------------------------*/

.copyright p {
    padding-top: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #424242;
}
















